@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #377dff;
  opacity: 0.5;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #377dff;
  transform: scale(1.2);
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
